# Ignorar pasta e arquivos do IntelliJ IDEA
.idea/
*.iml

# Ignorar arquivos compilados
*.class

# Ignorar arquivo de dados temporário
contatos.txt

# Ignorar pasta de saída (build)
out/

# Ignorar logs e arquivos temporários do sistema
*.log
*.tmp
.DS_Store
Thumbs.db
